**/.tox
__pycache__
**/htmlcov
**/.coverage
.venv/*
.git
**/.ipynb_checkpoints/*
**/*.md
*.md
.gitignore
.tox
**/.venv/
**/build/
sentiment-model/logs
sentiment-model/embeddings
sentiment-model/data
**/*.pyc
**/*.pyo
**/*egg-info*
UNKNOWN.egg-info
**/__pycache__/
**/.pytest_cache