**/.tox
__pycache__
**/htmlcov
**/.coverage
.git
**/.ipynb_checkpoints/*
**/.ipynb
**/*.md
.gitignore
**/.venv/
**/build/
**/tests
sentiment-model/logs
sentiment-model/embeddings
sentiment-model/data
**/*.pyo
**/*egg-info*
UNKNOWN.egg-info
**/.pytest_cache
Dockerfile_wheels
rest-api/Dockerfile/sentiment-model/sentiment-model/
/rest-api/rest-api/
